body{
    background-color: #f8f9fa;
}

.card{
    transition: transform 0.2s;
}

.card:hover{
    transform: scale(1.05);
}

.navbar-brand{
    font-weight: bold;
    font-size: 1.5rem;
}

.navbar a {
  color: #fff !important;
}

.navbar .nav-link {
  position: relative;
  transition: transform 0.25s ease;
}

.navbar .nav-link:hover {
  transform: translateY(-2px) scale(1.08);
}

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.profile-card {
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.profile-img {
  width: 130px;
  height: 160px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #5C789D;
  margin: auto;
}
